Android/
.mozilla/
.local/
.vim/
.cache/
.java/
.gradle/
.kde4/
.vim/
.xinitrc
.emulator_console_auth_token
.face
.face.icon
.fonts.conf
.dir_colors
java_error_in_STUDIO.hprof
.config/spectaclerc
.config/systemd/
.config/systemsettingsrc
.config/touchpadxlibinputrc
.config/trashrc
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xsettingsd/xsettingsd.conf
.config/spectaclerc
.config/systemsettingsrc
.config/okularpartrc
.config/okularrc
.config/lattedockrc
.config/latte
.config/libaccounts-glib/
.config/manjaro/
.config/*.json
.config/kmenueditrc
.config/kmixrc
.config/knfsshare
.config/konsolerc
.config/krunnerrc
.config/kscreenlockerrc
.config/ksmserverrc
.config/ksplashrc
.config/ktimezonedrc
.config/kwalletrc
.config/kwinrc
.config/kwinrulesrc
.config/kxkbrc
.config/pamac/config
.config/plasma-localerc
.config/plasma-nm
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasmanotifyrc
.config/plasmarc
.config/plasmashellrc
.config/powerdevilrc
.config/powermanagementprofilesrc
.config/pulse/
.config/retroarch/
.config/sddmthemeinstallerrc
.config/session/
.config/spectaclerc
.config/spectaclerc
Documents
Downloads
Work
go
Applications
Desktop

.config/Google/
.config/Google/
.cfg/
.pki/
.nvimlog
.gtkrc-2.0
.git-credentials
.gitconfig
.zhistory
.zcompdump
.zshconf

.android/
.Xclients
.Xauthority
.bash_history
.bash_logout
.bash_profile
.config-backup/
.config/Android Open Source Project/
.config/KDE/
.config/QtProject.conf
.config/Trolltech.conf
.config/akregatorrc
.config/appimagelauncher.cfg
.config/autostart/
.config/baloofilerc
.config/baloofileinformationrc
.config/bluedevilglobalrc
.config/dconf/
.config/dolphinrc
.config/falkon/profiles/manjaro/bookmarks.json
.config/falkon/profiles/manjaro/browsedata.db
.config/falkon/profiles/manjaro/version
.config/falkon/profiles/profiles.ini
.config/gtk-3.0/colors.css
.config/gtk-3.0/gtk.css
.config/gtk-3.0/settings.ini
.config/gtkrc
.config/gtkrc-2.0
.config/gwenviewrc
.config/ibus/bus/683c63de799749a1bac0e5db3e391b19-unix-0
.config/kactivitymanagerd-statsrc
.config/kactivitymanagerdrc
.config/katerc
.config/kateschemarc
.config/katesyntaxhighlightingrc
.config/kcminputrc
.config/kconf_updaterc
.config/kde.org/UserFeedback.org.kde.dolphin.conf
.config/kde.org/UserFeedback.org.kde.plasmashell.conf
.config/kde.org/lattedock.conf
.config/kde.org/plasmashell.conf
.config/kde.org/systemsettings.conf
.config/kdeconnect/certificate.pem
.config/kdeconnect/config
.config/kdeconnect/privateKey.pem
.config/kdeconnect/trusted_devices
.config/kded5rc
.config/kdeglobals
.config/kfontinstuirc
.config/kglobalshortcutsrc
.config/khelpcenterrc
.config/khotkeysrc
.config/kinfocenterrc
.config/mimeapps.list
.config/ncmpcpp/
.config/nvim/.netrwhist
